.background-image {
    width: 300px;
    height: 100px;
    background: url(./img/shop.png) 10px 10px no-repeat, url(./img/icon.png) 240px 10px no-repeat, linear-gradient(to bottom, #36a2e0 0%, #fff 100%);
}

.background-size_1 {
    margin: 5px 0;
    width: 100px;
    height: 100px;
    background: #eee url(./img/icon.png);
    background-size: auto;
}

.background-size_2 {
    margin: 5px 0;
    width: 100px;
    height: 100px;
    background: #eee url(./img/icon.png);
    background-size: 100%;
}